html {
    height: 100%;

}

body{
    background-color: grey;
    background-image: url("images/download (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    
    height: 118px;
    width: 1024px;
     text-align: center;
}
.logo {
    height: 100px;
    width: 120px;
    background-color: none;
   
}

nav {
    background-color: rgba(0, 0, 0, 0.363);
    width: 1024px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

}

main{
    
    height: 300px;
    width: 992px;
    text-align: center;
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;

}

footer{
background-color: rgba(0, 0, 0, 0.365);
    width: 992px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 992px;
}

h1 {
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 
p {
    color: white;
     font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
 a{
    color: white;
     font-family: Arial, Helvetica, sans-serif;

 }
  nav a {
    text-decoration: none;
  }
  footer p {
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }


